* {
  background-color: #1F1B24;
  font-family: "Roboto";
  margin: 5px;
}

h1 {
  font-family: "Roboto";
  color: white;
  font-size: 60px;
  float: right;
  width: 100%;
  border: 1px #1F1B24;
  padding: 4px 1px;
  position: fixed;
  top: 0;
}

h3 {
  font-family: "Roboto";
  font-size: 26px;
  color: white;
}  

p {
  font-family: "Roboto";
  font-size: 20px;
  color: white;
}

.topnav {
  background-color: #1F1B24;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: #1F1B24;
}

.topnav a.active {
  background-color: white;
  color: #1F1B24;
}

.section {
  width: 95%;
  border: 15px white;
  padding: 20px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
    color: white;
    font-family: "Roboto";
}
