* {
  font-family: "Roboto";
  margin: 5px;
  background-color: #1F1B24;
}

h1 {
  font-family: "Roboto";
  color: white;
  font-size: 60px;
  text-align: center;
}

h3 {
  font-family: "Roboto";
  font-size: 26px;
  color: white;
  background-color: #1F1B24;
}  

p {
  font-family: "Roboto";
  font-size: 20px;
  color: white;
  background-color: #1F1B24;
}

.topnav {
  background-color: #1F1B24;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: #1F1B24;
}

.topnav a.active {
  background-color: white;
  color: #1F1B24;
}

.section {
  width: 95%;
  border: 15px white;
  padding: 20px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

body {
    color: white;
    font-family: "Roboto";
}

.heading {
  float: right;
  width: 100%;
  border: 1px #1F1B24;
  padding: 4px 1px;
  position: fixed;
  top: 0;
  background-color: #1F1B24;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/1920x1080.jpg")
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  margin: 0;
}

footer {
  background-color: "#151318";
  color: white;
}
